/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 80em;
	margin: auto
}

div.container { 
	position: relative;
	min-height: 100vh;
	background-color: rgb(255,255,255);
	margin: auto;
	max-width: 80em;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 1em 1.5em 5em;		/*if change bottom padding to 10em looks good on home but too big of gap on menu and about us.*/
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 21em auto;
	background: rgb(204, 204, 204);
	padding: 1em 1em;
	}

h1 {
	width: 20em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2em;
	margin: 1em 0em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1.5em 0em 0.5em;
} 

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
	padding: 0.5em 0em;
	
}

figure {
	margin-bottom: 0.5em;
}

main.menu ul {   			/*Please leave this line.*/
		margin: 1em 0.5em 1em;
}	

main.menu ul li { 
		margin: 1em 0em 1em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em 1.5em;
	}
	
p.description {
	grid-column: 1/3;
	margin: 0.5em;
	padding-bottom: 1em;
	}
	
p.price {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	color: rgb(252, 6, 6);
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.5em;
	font-family: sans-serif;
	font-size: 1em;
	}
	
nav ul li a {
	color: rgb(255, 255, 84);
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgb(0, 0, 245);
	padding: 0.5em 0.5em 0.3em;
	}

nav ul li.selected a {							/*selected tab turns orange with white font*/
	background-color: rgb(252, 136, 12);
	color: rgb(255, 255, 255)
}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0em 1.5em;
	color: rgb(255,255,255);	
	}

body {  
	font-family: sans-serif;  
} 
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(255, 255, 84);
}

address {
	color: rgb(252, 136, 12);
	margin-top: 1.5em;
	line-height: 0em;
	}

/*div.address-wrapper { 			
	margin-bottom: 2em; 
}

div.hours-wrapper { 				
	margin-bottom: 2em;
}*/

footer p {
	margin: 0em;
}

article {
	background-color: rgb(15, 250, 250);
	margin: 0em 25em;
}

body {
	background-color: rgb(252, 6, 6);
}

@media screen and (min-width: 60em) {				/* looking at it when it at least 60 em wide - if narrower , browser will ignore ------- 3 rules and 7 declarations */
	
	nav {
		margin-top: 3em;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3em;
	}

	nav ul li {
		display: inline;
		font-size: 1.5em;
 
	}
}
