/* CSS DOCUMENT */

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222222;
	background-color: #fafafa;
	box-sizing: border-box;
}

div.container {
	max-width: 40em;
	margin: 1em;
	padding: 1em;
}

ul {
	list-style-type: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

li {
	margin-bottom: 0.6em;
}

section {
	background-color: #eeeeee;
	padding: 1em;
	margin-bottom: 1em;
}

section p {
	margin-top: 0;
}

h3 {
	margin: 0;
}

section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0.75em 0;
}

section.personal-info ul li label {
	flex: 0 0 7em;
}

section.personal-info ul li input[type="text"],
section.personal-info ul li input[type="email"],
section.personal-info ul li input[type="tel"],
section.personal-info ul li select {
	flex: 1 1 20em;
	padding: 0.35em;
}

section.order ul,
section.method ul {
	display: flex;
	flex-wrap: wrap;
}

section.order ul li,
section.method ul li {
	flex: 1 0 100%;
}

textarea {
	display: block;
	width: 100%;
	height: 6em;
	background-color: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777777;
}

button {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 0.4em 0.7em;
	cursor: pointer;
}

select {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 0.3em;
	color: #222222;
}

@media only screen and (min-width: 40em) {
	div.container {
		margin: 1em auto;
	}

	section.order ul li,
	section.method ul li {
		flex: 1 0 14em;
	}
}